
.header{
    display: flex;
    flex-direction: row;
    background-color: #00a2ff;
    align-items: center;
    justify-content: space-around;
    padding: 1em 0;
   
}

.Butao_menu{
    background-color: #00A3FF;
    border: none;
}

.perfil{
    margin-left: 4vw;
    margin-right: -10vw;
}

.pesquisa{
    padding: 0.7vh 7vw;
    border-radius: 7px;
    border: 1px black solid;
}

.coração{
    margin-right: -5vw;
    margin-left: 5vw;
    transition: transform 0.3s;
}

.carrinho{
    margin-left: -6vw;
    transition: transform 0.3s;
}

.Butao_menu:hover{
    cursor: pointer;
}

.links_header{
    background-color: #76B4D8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.4vw 0;
    box-shadow: rgb(184, 184, 184) 0px 15px 20px 0px;
    
}

.liks_baixo{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    margin-right: -25em;
    transition: transform 0.3s;
}

.liks_baixo1{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    transition: transform 0.3s;
   
}


.categorias{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
    margin-bottom: 2.4em;
}
.bolinha_cad{
    transition: transform 0.3s;
}

.img_bolinha{
    min-width: 4vw;
}

.inf_bolinha{
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 20;
    text-decoration: none;
    color: black;
}

.carrosel__titulo2{
    font-size: 30px;
    margin-left: 3vw;
    margin-bottom: 0.6em;
    font-weight: 600;
    margin-top: 1em;
}

.img-carrosel1{
    width: 13vw;
}

.swiper-wrapper{
    margin-right: 2vw;
    margin-left: 2.2vw;
    border-bottom: solid gray 0.5px;
}

.infos{
    margin-bottom: 4em;
    margin-left: 1em;
    margin-top: 0.5em;
}




.titulo_anuncio{
    font-weight: bold;
}

.img-carrosel12{
    width: 60vw;
    margin-right: 5em;
}

.avaliações{
    font-size: 10px;
    display: flex;
    align-items: center;
    margin: 0.3em 0;
}

.img_estrela{
    width: 4vw;
}

.valor_antigo{
    color: gray;
    font-size: 14px;
    margin: 0.3em 0;
    text-decoration: line-through;
    margin-bottom: 0.6em;
}

.valor_pix{
    font-size: 10px;
}

.valor{
    font-size: 24px;
}


.bolinha_cad:hover{
    transform:  scale(1.1);
}

.liks_baixo:hover{
    transform:  scale(1.1);
}

.liks_baixo1:hover{
    transform:  scale(1.1);
}

.coração:hover,
.coração:focus{
    transform:  scale(1.1);
}

.carrinho:hover{
    transform:  scale(1.1);
}

@media screen and (max-width: 768px){
.links_header{
    display: flex;
    justify-content: space-evenly;
    font-size: 1em;
}

.img_bolinha{
    width: 10vw;
}

.inf_bolinha{
    font-size: 10px;
    margin-right: 1em;
}

.perfil{
    width: 6vw;
    margin-left: -0.3em;
}

.coração{
    display: none;
}

.pesquisa{
    padding: 0.7vh 3vw;
}

.carrinho{
    width: 5vw;
    margin-left: 0.3em;
}

.liks_baixo1{
    font-size: 10px;
}

.liks_baixo{
    font-size: 10px;
}

.titulo_anuncio{
    font-size: 10px;
    margin-right: 6em;
    margin-left: -2em;
}

.avaliações{
    margin-left: -2em;
}

.valor_antigo{
    margin-left: -1em;
    font-size: 10px;
}

.valor{
    font-size: 9px;
    margin-left: -2em;
    
}

.valor_pix{
    font-size: 9px;
    margin-right: 1em;
}

}

